#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  height: 35px;
  background-color: rgba(14, 31, 44, 0.582);
  color: white;
}
#nav > h1 {
  font-size: 18px;
}
.score {
  text-align: center;
  margin-top: 30px;
}
.score > form > input {
  margin-left: 28px;
  width: 52vw;
  border: none;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  background-color:rgba(14, 31, 44, 0.616);
  color: white;
  padding: 5px 0px 5px 0px;
  border-radius: 15px;
  outline: none;  
}
.score > form > input::placeholder {
  color: white;
}
.score > form > input:focus::placeholder {
  color: transparent;
}
.score > form > i {
  font-size: 12px;
  padding-left: 12px;
  position: relative;
  bottom: 3px;
  right: 35px;
  pointer-events: none;
  color: white;
}
.buttons {
  margin-bottom: 10px;
}
.button-center, .button-left, .button-right{
  height: 30vh;
  border: none;
  outline: none;  
}
.button-left, .button-right {
  width: 25vw;
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}
.button-left {
  background-color: rgba(255, 0, 0, 0.349);
  border-radius: 0px 10px 10px 0px;
}
.button-right {
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 10px 0px 0px 10px;
}
.button-center {
  width: 50vw;
  font-size: 50px;
  background-color: rgba(255, 0, 0, 0);
  text-shadow: 3px 3px 3px rgb(41, 41, 41);
  color: white;
  font-size: 70px;
}
#restart {
  font-size: 28px;
  border-radius: 28px;
  height: 55px;
  width: 55px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  border: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.308);
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
  outline: none;  
}
