*{
  font-family: 'Noto Sans', sans-serif;
}
body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./pictures/flag.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
